dist
docs
hide
# un-excluding node_modules (for now) because copying it it makes the build faster
# node_modules

.env
example.env
compose.env
docker-compose.yml
Dockerfile
notebooks
tools
README.md

asrSession-out.wav
