SERVER_PORT=8080
USE_AUTH=true
URL=http://localhost:8082/
DEVICE_SOCKET_PATH=/socket-device/
CONTROLLER_SOCKET_PATH=/socket-controller/
#TOKEN=
AUTH_URL=http://localhost:8082/auth
#Note: any username and password will work
DEVICE_ACCOUNT_ID=robot1
DEVICE_PASSWORD=12345!
CONTROLLER_ACCOUNT_ID=controller1
CONTROLLER_PASSWORD=12345!
